{% extends "base.html" %}

{% block content %}

  <h1>Delete confirmation</h1>
  <p>You are trying to delete tag: <strong>{{ tag }}</strong></p>
  <h3>Are you sure?</h3>
  <p>This process cannot be reversed</p>
<div>
  {% include "includes/confirmation_form.html" %}

  <button onclick="window.location.href='{% url 'app:tag-list' %}';" type="button"
              class="btn btn-success">
        No, back to the tag list
      </button>
<button onclick="window.location.href='{% url 'app:tag-update' pk=tag.id %}';" type="button"
              class="btn btn-warning">
        No, edit tag
      </button>
</div>
{% endblock %}