<div style="width: 185px" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
  <p class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"></svg>
    <span class="fs-4">ToDo</span>
  </p>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="{% url 'app:index' %}" class="nav-link text-white" aria-current="page">
        <svg class="bi me-2" width="16" height="16"></svg>
        Home
      </a>
    </li>
    <li>
      <a href="{% url 'app:tag-list' %}" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"></svg>
        Tags
      </a>
    </li>
  </ul>

</div>
